server:
  port: 8086
spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/usermoviedb
  application:
    name: movie-service
eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost
#    mapping betweem server and running instance